<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank you for rating your experience! </title>
  </head>
  <body>
    
    <div class="container">
        <div class="contain">
        <img src="../static/logo.png" alt="" class="logo" />

        <h1>Thank you for rating your experience!</h1>
        <br>
        <br>
        <br>
        <h2>"and all your orders and feedback are really value to me"</h2> 
        <br>
        <br>

        <h2>
          <br>
          <br> I hope you will come back soon! </h2>
          <br>
        </div>
    </div>
    
  </body>
</html>